body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: sans-serif, tahoma, helvetica, "Times New Roman";
    font-size: 16px;
    margin: 40px;  
}
h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.centered {
    text-align: center;
    list-style-type: none;   
}
#home-body {
    background-image:url(./img/joanna-kosinska-Prfs32wh-o4-unsplash.jpg);
    background-size: 150pc auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40%;
}
#risotto-body {
    background-image:url(./img/annie-spratt-BcGoZXjyPzA-unsplash.jpg);
    background-size: 150pc auto;
    background-repeat: repeat;
    background-position-x: right;
    background-position-y: 70%;
}
#fideua-body {
    background-image:url(./img/joanna-kosinska-Prfs32wh-o4-unsplash.jpg);
    background-size: 5px auto;
    background-repeat: repeat;
    background-position-x: right;
    background-position-y: 70%;
}
/*Tried to position text and img side by side with grid, now changed as fideua*/
.container {
    align-content: center;
    margin: 0 auto;
}
/*The position:absolute allows to move the img freely with margin, that otherwise wasn't moving*/
.img-container {
    display: inline-block;
    position: absolute;
    width: 0px;
    margin-top: 150px;
}
.recipe-img {
    width: 650px; 
}
.text-container {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
}
/*Position text and img fideua diferent method*/ 
.container-fideua { 
    align-content:center;    
}
.img-container-fideua {
    display: inline-block; 
    width: 0px;
    margin-top: -400px;
}
.text-container-fideua {
    width: 45%;
    display: inline-block;
    margin-right: 5%;
}